!!! 5
%html
    %head
        %meta(charset="UTF-8")
        %meta(http-equiv="X-UA-Compatible" content="IE=edge")
        %title Alloka Landing
    %body.main
        %style
            body {
                text-align: center;
                padding-top: 20px;
            }
            h1 {
                font-size: 30px;
                margin-bottom: 15px;
            }
            ul {
                padding: 0;
            }
            li {
                list-style: none;
                text-transform: uppercase;
                font-family: Verdana;
                line-height: 45px;
                text-decoration: none;
            }
            a {
                text-decoration: none;
                color: #000;
            }
        %h1 Alloka Landing
        %ul
            %li
                %a(href="./main.html" target="_blank") Main