!!! 5
%html
  %head
    //= template/common/meta.haml
    %title Main
  %body

    //= template/common/header.haml

    //= template/pages/main/callback-widget.haml

    //= template/pages/main/opportunities.haml

    //= template/pages/main/price.haml

    //= template/pages/main/opportunities-detail.haml

    //= template/pages/main/for-studios.haml

    //= template/common/footer.haml