%footer.footer
  .content-wrapper
    %nav
      %ul.footer_nav
        %li
          %a.footer_nav_link(href="#") API
        %li
          %a.footer_nav_link(href="#") Интеграция в CRM системы
        %li
          %a.footer_nav_link(href="#") Блог
    .copyright
      Calldron 2015 &copy;