.footer {
  padding-top: 4.5rem;
  padding-bottom: 4.75rem;
  font-size: .75rem;
  line-height: 1.05rem;
  background-color: $blue1f;

  &_nav {
    @include flexbox;
    @include justify-content(center);
    color: $white;
    @include helveticaLight;

    &_link {
      display: block;
      margin: 0 1.95rem 1.5rem;
    }
  }
  .copyright {
    color: $purple4e;
    text-align: center;
  }
  * + .copyright {
    margin-top: .5rem;
  }
}