%section.callback_widget.section_anchor#callback_widget
  .callback_widget_bg_box
  .content_wrapper
    %img(src="images/main/callbacl_calldron_icon.png" alt="")
    .section_title.section_title_big Виджет обратного звонка
    .section_post_title Который за вас может поговорить с клиентом.<br>Вдруг вам сейчас некогда.
    .callback_widget_content
      .callback_widget_content_inner(style="padding-top: 1rem" )
        .callback_widget_content_info Устанавливается<br>на сайт за 3 минуты
          .figure_arch
        .callback_widget_content_info(style="margin-top: 2.5rem" ) Соединяет с вами<br>когда вам удобно
          .figure_arch
      .callback_widget_content_inner
        %img(src="images/main/calldron-big.png" alt="" style="margin-right: -37px" )
      .callback_widget_content_inner(style="padding-top: .5rem" )
        .callback_widget_content_info Подстраховывает
          %a.inside_page_anchor(href="#dron_secretary") \ дрон-секретарь
          .figure_arch
        .callback_widget_content_info(style="margin-top: 2rem" )
          %a.inside_page_anchor(href="#price") Тарифы прозрачны
          \ и не привязаны к минутам или лидам
          .figure_arch
        .callback_widget_content_info(style="margin-top: 2rem" ) Можно пользоваться бесплатно
          .figure_arch
