%section.for_studios.section_anchor#for_studios
  .content_wrapper
    .section_title
      Специальные условия для агентств и веб-студий
    .section_post_title
      Если вы разрабатываете сайты или помогаете клиентам с установкой скриптов - напишите нам, и мы предоставим вам особые условие на подключение и использование коллбека от Calldron
    %a.main_button(href="#")
      Отправить сообщение
