%section.opportunities_detail.section_anchor#opportunities
  .section_title
    Подробнее о возможностях виджета коллбека:
  .opportunities_customization.opportunities_detail_box
    .content_wrapper
      .opportunities_detail_inner
      .opportunities_detail_inner
        .section_title
          Кастомизация виджета:
        %ul.marklist.checkmark
          %li
            выбирайте цвет
          %li
            загружайте свой логотип
        .section_title
          Уведомления:
        %ul.marklist.checkmark
          %li
            получайте уведомления о&nbsp;заказанном звонке:
            %ul.marklist
              %li
                на почту
              %li
                по смс
              %li
                в Slack
              %li
                в Telegram
  .opportunities_crm.opportunities_detail_box
    .content_wrapper
      .opportunities_detail_inner
        .section_title
          Настройте связку коллдрона с вашей<br>CRM-системой и не<br>теряйте клиентов из виду.
        .opportunities_detail_inner_info
          Уже работает с
          %img(src="images/main/amocrm-logo-rect.png" alt="")
          и
          %img(src="images/main/bitrix-logo-rect.png" alt="")
      .opportunities_detail_inner
  .opportunities_drone.opportunities_detail_box#dron_secretary
    .content_wrapper
      .opportunities_detail_inner
      .opportunities_detail_inner
        .section_title
          Дрон-секретарь
        .opportunities_detail_inner_text
          Вы сталкивались с проблемой, когда заказали обратный звонок за 26 секунд, а никто не перезвонил ни через 26, ни через 126? Это не технология хромает, просто операторы заняты или время нерабочее. Много причин.
        .opportunities_detail_inner_text
          С коллбеком от Calldron такого не будет.
        .marker_text_box_green
          .figure_arch
          Если не уложились в указанное время - вместо вас клиенту звонит дрон-секретарь. Он вашим голосом вежливо извинится, задаст вопрос, предложит выпить чаю, пока ждете звонка или оставить сообщение.