%section.opportunities.section_anchor#opportunities_calldron
  .content_wrapper
    .section_title Возможности CALLDRON
    .opportunities_list
      .opportunities_list_item
        .opportunities_list_item_img
          %img(src="images/main/item1.svg" alt="")
        .opportunities_list_item_text
          Настраиваемый виджет (цвет, ваш логотип)
      .opportunities_list_item
        .opportunities_list_item_img
          %img(src="images/main/item2.svg" alt="")
        .opportunities_list_item_text
          Соединение голосом
      .opportunities_list_item
        .opportunities_list_item_img
          %img(src="images/main/item3.svg" alt="")
        .opportunities_list_item_text
          Смс-уведомления
      .opportunities_list_item
        .opportunities_list_item_img
          %img(src="images/main/item4.png" alt="")
        .opportunities_list_item_text
          Дрон-секретарь
      .opportunities_list_item
        .opportunities_list_item_img
          %img(src="images/main/item5.svg" alt="")
        .opportunities_list_item_text
          Интеграция с почтой и мессенджерами
      .opportunities_list_item
        .opportunities_list_item_img
          %img(src="images/main/item6.svg" alt="")
        .opportunities_list_item_text
          Связь с CRM
      .opportunities_list_item
        .opportunities_list_item_img
          %img(src="images/main/item7.svg" alt="")
        .opportunities_list_item_text
          Выбор расположения на экране
