%section.price.section_anchor#price
  .content_wrapper
    .section_title
      Во всех тарифах при разговоре по телефону цена соединения фиксирована и составляет:
    .price_table
      .price_table_one
        .price_table_one_img
          %img(src="images/main/item4.png" alt="" style="width: 41px;" )
        .price_table_one_description
          .price_table_one_name
            Одностороннее соединение (дрон&nbsp;-&nbsp;секретарь)
          .price_table_one_number
            3,5 рубля
      .price_table_one
        .price_table_one_img
          %img(src="images/main/connect-icon.png" alt="")
        .price_table_one_description
          .price_table_one_name
            Двустороннее соединение - без ограничения длительности
          .price_table_one_number
            30 рублей*
    .price_table_footnote
      * При соединении на SIP-логин - 15 рублей

